dist
dist-newstyle
cabal-dev
*.o
*.hi
*.chi
*.chs.h
*.dyn_o
*.dyn_hi
.virtualenv
.hpc
.hsenv
*.prof
*.aux
*.hp
.stack-work/
*.csv
*.dat
*.tix
stack.yaml.lock
docs/*.svg
docs/list.txt
docs/generator.hs